/* ==============================================================
   Web Panel
   ============================================================== */

@import "nib";

//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


.web-panel {
  background-color: #292929;
  color: #fff;

  iframe,
  .panel__content-wrapper {
    height: 100%;
    width: 100%;
  }
}

//
// Sub-Modules
//

.web-panel__iframe-cover {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}