@import "nib";
@import "global/_normalize.styl";
@import "global/_reset.styl";
@import "global/_color.styl";
@import "global/_typography.styl";

@import "modules/_panel.styl";
@import "modules/_panel.styl";
@import "modules/_edit-panel.styl";
@import "modules/_button-square.styl";
@import "modules/_form.styl";
@import "modules/_toolbar.styl";

body, html {
  height: 100%;
  overflow-x: hidden;
  background-color: #414C58;
  background-image: linear-gradient(top, rgba(black, 0), rgba(black, 0.6)), url(/images/noise.png);
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }