/* ==============================================================
   Time Panel
   ============================================================== */

@import "nib";

//---------------------------------------------------------------
// Base
//---------------------------------------------------------------

$clock-size = 160px;
$hand-width = 10px;
$hour-hand-inset = 24px;
$minute-hand-inset = 14px;

$half-clock-size = $clock-size / 2;
$half-hand-width = $hand-width / 2;
$negative-half-hand-width = 0 - $half-hand-width;
$hour-hand-height = $half-clock-size - $hour-hand-inset + $half-hand-width;
$minute-hand-height = $half-clock-size - $minute-hand-inset + $half-hand-width;
$hour-hand-transform-offset = $hour-hand-height - $half-hand-width;
$minute-hand-transform-offset = $minute-hand-height - $half-hand-width;

.time-panel {
  background-color: #fd9564;
  border-color: #fd9564;
  color: #fff;
  //animation: time-fade 30s infinite alternate;
}

//
// Sub-Modules
//

.time-panel__clock {
  position: relative;
  width: $clock-size;
  height: $clock-size;
  border-radius: 100em;
  background-color: rgba(#000, 0.5);
}

.time-panel__clock__hour,
.time-panel__clock__minute {
  position: absolute;
  left: 50%;
  display: block;
  margin-left: $negative-half-hand-width;
  width: $hand-width;
  border-radius: 5em;
  background-color: #fff;
  text-indent: -9999em;
  transition: 1s;
}

.time-panel__clock__hour {
  top: $hour-hand-inset;
  height: $hour-hand-height;
  transform-origin: 50% $hour-hand-transform-offset;
}

.time-panel__clock__minute {
  height: $minute-hand-height;
  top: $minute-hand-inset;
  transform-origin: 50% $minute-hand-transform-offset;
}

.time-panel__time {

}

.time-panel__date {
  
}


//---------------------------------------------------------------
// Animation
//---------------------------------------------------------------

@keyframes time-fade
  0%
    background-color: #fc6f72;
  100%
    background-color: #fd9564;