/* ==============================================================
   Time Panel
   ============================================================== */

@import "nib";

//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


.time-panel {
  background-color: #fd9564;
  color: #fff;
  //animation: time-fade 30s infinite alternate;
}

//
// Sub-Modules
//

.time-panel__clock {
  position: relative;
  margin: 0 auto 2.8em;
  width: 11em;
  height: 11em;
  border-radius: 100em;
  background-color: rgba(#000, 0.5);
}

.time-panel__clock__hour,
.time-panel__clock__minute {
  position: absolute;
  left: 50%;
  display: block;
  margin-left: -0.35em;
  width: 0.7em;
  border-radius: 5em;
  background-color: #fff;
  text-indent: -9999em;
  transition: 1s;
}

.time-panel__clock__hour {
  top: 2.5em;
  height: 3.35em;
  transform-origin: 50% 3em;
}

.time-panel__clock__minute {
  transform-origin: 50% 4.5em;
  height: 4.85em;
  top: 1em
}

.time-panel__time {
  font-size: 2.4rem;
  text-shadow: 0 1px 2px rgba(#000, 0.1);
  letter-spacing: 2px;
  margin-bottom: 0.6em;
}

.time-panel__date {
  font-size: 1.8rem;
  text-shadow: 0 1px 2px rgba(#000, 0.1);
}


//---------------------------------------------------------------
// Animation
//---------------------------------------------------------------

@keyframes time-fade
  0%
    background-color: #fc6f72;
  100%
    background-color: #fd9564;