.graphics-Cloud-Download { background-image: url(graphics/png-fallback/Cloud-Download.png); background-repeat: no-repeat; }

.graphics-Cloud-Drizzle-Alt { background-image: url(graphics/png-fallback/Cloud-Drizzle-Alt.png); background-repeat: no-repeat; }

.graphics-Cloud-Drizzle-Moon-Alt { background-image: url(graphics/png-fallback/Cloud-Drizzle-Moon-Alt.png); background-repeat: no-repeat; }

.graphics-Cloud-Drizzle-Moon { background-image: url(graphics/png-fallback/Cloud-Drizzle-Moon.png); background-repeat: no-repeat; }

.graphics-Cloud-Drizzle-Sun-Alt { background-image: url(graphics/png-fallback/Cloud-Drizzle-Sun-Alt.png); background-repeat: no-repeat; }

.graphics-Cloud-Drizzle-Sun { background-image: url(graphics/png-fallback/Cloud-Drizzle-Sun.png); background-repeat: no-repeat; }

.graphics-Cloud-Drizzle { background-image: url(graphics/png-fallback/Cloud-Drizzle.png); background-repeat: no-repeat; }

.graphics-Cloud-Fog-Alt { background-image: url(graphics/png-fallback/Cloud-Fog-Alt.png); background-repeat: no-repeat; }

.graphics-Cloud-Fog-Moon-Alt { background-image: url(graphics/png-fallback/Cloud-Fog-Moon-Alt.png); background-repeat: no-repeat; }

.graphics-Cloud-Fog-Moon { background-image: url(graphics/png-fallback/Cloud-Fog-Moon.png); background-repeat: no-repeat; }

.graphics-Cloud-Fog-Sun-Alt { background-image: url(graphics/png-fallback/Cloud-Fog-Sun-Alt.png); background-repeat: no-repeat; }

.graphics-Cloud-Fog-Sun { background-image: url(graphics/png-fallback/Cloud-Fog-Sun.png); background-repeat: no-repeat; }

.graphics-Cloud-Fog { background-image: url(graphics/png-fallback/Cloud-Fog.png); background-repeat: no-repeat; }

.graphics-Cloud-Hail-Alt { background-image: url(graphics/png-fallback/Cloud-Hail-Alt.png); background-repeat: no-repeat; }

.graphics-Cloud-Hail-Moon-Alt { background-image: url(graphics/png-fallback/Cloud-Hail-Moon-Alt.png); background-repeat: no-repeat; }

.graphics-Cloud-Hail-Moon { background-image: url(graphics/png-fallback/Cloud-Hail-Moon.png); background-repeat: no-repeat; }

.graphics-Cloud-Hail-Sun-Alt { background-image: url(graphics/png-fallback/Cloud-Hail-Sun-Alt.png); background-repeat: no-repeat; }

.graphics-Cloud-Hail-Sun { background-image: url(graphics/png-fallback/Cloud-Hail-Sun.png); background-repeat: no-repeat; }

.graphics-Cloud-Hail { background-image: url(graphics/png-fallback/Cloud-Hail.png); background-repeat: no-repeat; }

.graphics-Cloud-Lightning-Moon { background-image: url(graphics/png-fallback/Cloud-Lightning-Moon.png); background-repeat: no-repeat; }

.graphics-Cloud-Lightning-Sun { background-image: url(graphics/png-fallback/Cloud-Lightning-Sun.png); background-repeat: no-repeat; }

.graphics-Cloud-Lightning { background-image: url(graphics/png-fallback/Cloud-Lightning.png); background-repeat: no-repeat; }

.graphics-Cloud-Moon { background-image: url(graphics/png-fallback/Cloud-Moon.png); background-repeat: no-repeat; }

.graphics-Cloud-Rain-Alt { background-image: url(graphics/png-fallback/Cloud-Rain-Alt.png); background-repeat: no-repeat; }

.graphics-Cloud-Rain-Moon-Alt { background-image: url(graphics/png-fallback/Cloud-Rain-Moon-Alt.png); background-repeat: no-repeat; }

.graphics-Cloud-Rain-Moon { background-image: url(graphics/png-fallback/Cloud-Rain-Moon.png); background-repeat: no-repeat; }

.graphics-Cloud-Rain-Sun-Alt { background-image: url(graphics/png-fallback/Cloud-Rain-Sun-Alt.png); background-repeat: no-repeat; }

.graphics-Cloud-Rain-Sun { background-image: url(graphics/png-fallback/Cloud-Rain-Sun.png); background-repeat: no-repeat; }

.graphics-Cloud-Rain { background-image: url(graphics/png-fallback/Cloud-Rain.png); background-repeat: no-repeat; }

.graphics-Cloud-Refresh { background-image: url(graphics/png-fallback/Cloud-Refresh.png); background-repeat: no-repeat; }

.graphics-Cloud-Snow-Alt { background-image: url(graphics/png-fallback/Cloud-Snow-Alt.png); background-repeat: no-repeat; }

.graphics-Cloud-Snow-Moon-Alt { background-image: url(graphics/png-fallback/Cloud-Snow-Moon-Alt.png); background-repeat: no-repeat; }

.graphics-Cloud-Snow-Moon { background-image: url(graphics/png-fallback/Cloud-Snow-Moon.png); background-repeat: no-repeat; }

.graphics-Cloud-Snow-Sun-Alt { background-image: url(graphics/png-fallback/Cloud-Snow-Sun-Alt.png); background-repeat: no-repeat; }

.graphics-Cloud-Snow-Sun { background-image: url(graphics/png-fallback/Cloud-Snow-Sun.png); background-repeat: no-repeat; }

.graphics-Cloud-Snow { background-image: url(graphics/png-fallback/Cloud-Snow.png); background-repeat: no-repeat; }

.graphics-Cloud-Sun { background-image: url(graphics/png-fallback/Cloud-Sun.png); background-repeat: no-repeat; }

.graphics-Cloud-Upload { background-image: url(graphics/png-fallback/Cloud-Upload.png); background-repeat: no-repeat; }

.graphics-Cloud-Wind-Moon { background-image: url(graphics/png-fallback/Cloud-Wind-Moon.png); background-repeat: no-repeat; }

.graphics-Cloud-Wind-Sun { background-image: url(graphics/png-fallback/Cloud-Wind-Sun.png); background-repeat: no-repeat; }

.graphics-Cloud-Wind { background-image: url(graphics/png-fallback/Cloud-Wind.png); background-repeat: no-repeat; }

.graphics-Cloud { background-image: url(graphics/png-fallback/Cloud.png); background-repeat: no-repeat; }

.graphics-Compass-East { background-image: url(graphics/png-fallback/Compass-East.png); background-repeat: no-repeat; }

.graphics-Compass-North { background-image: url(graphics/png-fallback/Compass-North.png); background-repeat: no-repeat; }

.graphics-Compass-South { background-image: url(graphics/png-fallback/Compass-South.png); background-repeat: no-repeat; }

.graphics-Compass-West { background-image: url(graphics/png-fallback/Compass-West.png); background-repeat: no-repeat; }

.graphics-Compass { background-image: url(graphics/png-fallback/Compass.png); background-repeat: no-repeat; }

.graphics-Degrees-Celcius { background-image: url(graphics/png-fallback/Degrees-Celcius.png); background-repeat: no-repeat; }

.graphics-Degrees-Fahrenheit { background-image: url(graphics/png-fallback/Degrees-Fahrenheit.png); background-repeat: no-repeat; }

.graphics-Moon-First-Quarter { background-image: url(graphics/png-fallback/Moon-First-Quarter.png); background-repeat: no-repeat; }

.graphics-Moon-Full { background-image: url(graphics/png-fallback/Moon-Full.png); background-repeat: no-repeat; }

.graphics-Moon-Last-Quarter { background-image: url(graphics/png-fallback/Moon-Last-Quarter.png); background-repeat: no-repeat; }

.graphics-Moon-New { background-image: url(graphics/png-fallback/Moon-New.png); background-repeat: no-repeat; }

.graphics-Moon-Waning-Crescent { background-image: url(graphics/png-fallback/Moon-Waning-Crescent.png); background-repeat: no-repeat; }

.graphics-Moon-Waning-Gibbous { background-image: url(graphics/png-fallback/Moon-Waning-Gibbous.png); background-repeat: no-repeat; }

.graphics-Moon-Waxing-Crescent { background-image: url(graphics/png-fallback/Moon-Waxing-Crescent.png); background-repeat: no-repeat; }

.graphics-Moon-Waxing-Gibbous { background-image: url(graphics/png-fallback/Moon-Waxing-Gibbous.png); background-repeat: no-repeat; }

.graphics-Moon { background-image: url(graphics/png-fallback/Moon.png); background-repeat: no-repeat; }

.graphics-Shades { background-image: url(graphics/png-fallback/Shades.png); background-repeat: no-repeat; }

.graphics-Snowflake { background-image: url(graphics/png-fallback/Snowflake.png); background-repeat: no-repeat; }

.graphics-Sun-Low { background-image: url(graphics/png-fallback/Sun-Low.png); background-repeat: no-repeat; }

.graphics-Sun-Lower { background-image: url(graphics/png-fallback/Sun-Lower.png); background-repeat: no-repeat; }

.graphics-Sun { background-image: url(graphics/png-fallback/Sun.png); background-repeat: no-repeat; }

.graphics-Sunrise { background-image: url(graphics/png-fallback/Sunrise.png); background-repeat: no-repeat; }

.graphics-Sunset { background-image: url(graphics/png-fallback/Sunset.png); background-repeat: no-repeat; }

.graphics-Thermometer-100 { background-image: url(graphics/png-fallback/Thermometer-100.png); background-repeat: no-repeat; }

.graphics-Thermometer-25 { background-image: url(graphics/png-fallback/Thermometer-25.png); background-repeat: no-repeat; }

.graphics-Thermometer-50 { background-image: url(graphics/png-fallback/Thermometer-50.png); background-repeat: no-repeat; }

.graphics-Thermometer-75 { background-image: url(graphics/png-fallback/Thermometer-75.png); background-repeat: no-repeat; }

.graphics-Thermometer-Zero { background-image: url(graphics/png-fallback/Thermometer-Zero.png); background-repeat: no-repeat; }

.graphics-Thermometer { background-image: url(graphics/png-fallback/Thermometer.png); background-repeat: no-repeat; }

.graphics-Tornado { background-image: url(graphics/png-fallback/Tornado.png); background-repeat: no-repeat; }

.graphics-Umbrella { background-image: url(graphics/png-fallback/Umbrella.png); background-repeat: no-repeat; }

.graphics-Wind { background-image: url(graphics/png-fallback/Wind.png); background-repeat: no-repeat; }