/* ==============================================================
   Typography
   ============================================================== */

/* Fonts
   ============================================================== */

/* Example use: @extend .basefont-bold */

.basefont {
  font-family: "brandon-grotesque", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.basefont-bold {
  @extend .basefont;
  font-weight: 700;
}

.altfont {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
}

.altfont-bold {
  @extend .basefont;
  font-weight: bold;
}

/* Type Sizing
   ============================================================== */

/* All font sizes should be provided as rems, with a
 * pixel fallback for older browsers. */

/* Example use: typeset(14, 1.5) */

typeset(font-size = 16, line-height = auto) {
  font-size: font-size px;
  font-size: (font-size / 10) rem;
  line-height: line-height;
}

/* Base
   ============================================================== */

html {
  font-size: 62.5%;
}

body {
  @extend .basefont;
  typeset(14, 1.5);
}

/* Links
   ============================================================== */

a { color: $link-color; }
a:hover { text-decoration: underline; }


/* Text Selection
   ============================================================== */

::-moz-selection { background: $selection-color; color: #fff; text-shadow: none; }
::selection { background: $selection-color; color: #fff; text-shadow: none; }