/* ==============================================================
   Weather Panel
   ============================================================== */

@import "nib";

//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


.weather-panel {
  background-color: #85e6fe;
  color: #fff;
  animation: fade 30s infinite alternate;
}

//
// Sub-Modules
//

weather-graphic(name) {
  background-image: url(../../../images/name.svg);
}

.weather-panel__graphic {
  width: 18em;
  height: 11.8em;
  display: inline-block;
  margin-bottom: 2em;
  background-size: cover;
  background-position: center center;
  opacity: 0.5;

  &.is-partly-cloudy-night {
     weather-graphic(Cloud-Moon);
  }

  &.is-rain {
     weather-graphic(Cloud-Rain);
  }

  &.is-clear-day {
    weather-graphic(Sun);
  }

  &.is-clear-night {
    weather-graphic(Moon-Waning-Crescent);
  }

  &.is-rain {
    weather-graphic(Cloud-Drizzle);
  }

  &.is-snow {
    weather-graphic(Cloud-Snow);
  }

  &.is-sleet {
    weather-graphic(Cloud-Hail);
  }

  &.is-wind {
    weather-graphic(Cloud-Wind);
  }

  &.is-fog {
    weather-graphic(Cloud-Fog);
  }

  &.is-cloudy {
    weather-graphic(Cloud);
  }

  &.is-partly-cloudy-day {
    weather-graphic(Cloud-Sun);
  }

  &.is-partly-cloudy-night {
    weather-graphic(Cloud-Moon);
  }
}

.weather-panel__city {

}

.weather-panel__summary {

}

//---------------------------------------------------------------
// Animation
//---------------------------------------------------------------

@keyframes fade
  0%
    background-color: #85e6fe;
  100%
    background-color: #77ffc3;