/* ==============================================================
   Weather Panel
   ============================================================== */

@import "nib";


//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


.weather-panel {
  background-color: #77ffc3;
  color: #fff;
  //animation: fade 30s infinite alternate;
  height: 600px;
}

//
// Sub-Modules
//

.weather-panel__city {
  font-size: 2.4rem;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 0 1px 2px rgba(#000, 0.1);
}

.weather-panel__summary {
  font-size: 1.8rem;
  text-shadow: 0 1px 2px rgba(#000, 0.1);
}

weather-graphic(name) {
  background-image: url(../../../images/name.svg);
}

.weather-panel__graphic {
  width: 18em;
  height: 11.8em;
  display: inline-block;
  margin-bottom: 2em;
  background-size: cover;
  background-position: center center;
  opacity: 0.5;

  &.is-partly-cloudy-night {
     weather-graphic(Cloud-Moon);
  }

  &.is-rain {
     weather-graphic(Cloud-Rain);
  }

  &.is-clear-day {
    weather-graphic(Sun);
  }

  &.is-clear-night {
    weather-graphic(Moon-Waning-Crescent);
  }

  &.is-rain {
    weather-graphic(Cloud-Drizzle);
  }

  &.is-snow {
    weather-graphic(Cloud-Snow);
  }

  &.is-sleet {
    weather-graphic(Cloud-Hail);
  }

  &.is-wind {
    weather-graphic(Cloud-Wind);
  }

  &.is-fog {
    weather-graphic(Cloud-Fog);
  }

  &.is-cloudy {
    weather-graphic(Cloud);
  }

  &.is-partly-cloudy-day {
    weather-graphic(Cloud-Sun);
  }

  &.is-partly-cloudy-night {
    weather-graphic(Cloud-Moon);
  }
}

//---------------------------------------------------------------
// Animation
//---------------------------------------------------------------

@keyframes fade
  0%
    background-color: #85e6fe;
  100%
    background-color: #77ffc3;