/* ==============================================================
   Time Panel
   ============================================================== */

@import "nib";

//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


.time-panel {
  background-color: #fc6f72;
  color: #fff;
  animation: time-fade 30s infinite alternate;
}

//---------------------------------------------------------------
// Animation
//---------------------------------------------------------------

@keyframes time-fade
  0%
    background-color: #fc6f72;
  100%
    background-color: #fd9564;