/* ==============================================================
   Time Panel
   ============================================================== */

@import "nib";

//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


.time-panel {
  background-color: #fc6f72;
  color: #fff;
  animation: time-fade 30s infinite alternate;
}

//
// Sub-Modules
//

.time-panel__clock {
  position: relative;
  margin: 0 auto 2.8em;
  width: 13em;
  height: 13em;
  border-radius: 100em;
  background-color: rgba(#000, 0.5);
}

.time-panel__clock__hour,
.time-panel__clock__minute {
  position: absolute;
  left: 50%;
  display: block;
  margin-left: -0.35em;
  width: 0.7em;
  text-indent: -9999em;
  transition: 1s;
  border-radius: 5em;
}

.time-panel__clock__hour {
  top: 2.5em;
  height: 4.35em;
  background-color: #fff;
  transform-origin: 50% 4em;
}

.time-panel__clock__minute {
  transform-origin: 50% 5.5em;
  background-color: #fff;
  height: 5.85em;
  top: 1em
}


//---------------------------------------------------------------
// Animation
//---------------------------------------------------------------

@keyframes time-fade
  0%
    background-color: #fc6f72;
  100%
    background-color: #fd9564;