/* ==============================================================
   CTA Train Panel
   ============================================================== */

@import "nib";

//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


.ctatrain-panel {
  background-color: #C2ADD7;
  color: #fff;
}

//
// Sub-Modules
//