/* ==============================================================
   CTA Traom Panel
   ============================================================== */

@import "nib";

//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


.ctatrain-panel {
  background-color: #C2ADD7;
  color: #444;
}

//
// Sub-Modules
//