/* ==============================================================
   Help Scout Panel
   ============================================================== */

@import "nib";

//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


.helpscout-panel {
  background-color: #cd97a8;
  color: #fff;
}

//
// Sub-Modules
//