/* ==============================================================
   Semaphore Panel
   ============================================================== */

@import "nib";

//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


.semaphore-panel {
  background-color: #78dede;
  border-color: #78dede;
  color: #fff;
}

//
// Sub-Modules
//

.semaphore-panel__build-status {
  width: 160px;
  color: #78dede;
  text-transform: uppercase;
  font-size: 1.6rem;

  span {
    display: inline-block;
    font-size: 1.1rem;
  }
}

.semaphore-panel__build-status.is-passed {
  background-color: rgba(#000, 0.5);
  padding-top: 60px;
  border-radius: 80em;
}

.semaphore-panel__build-status.is-failed {
  padding-top: 83px;
  width: 176px;
  background-image: url(../../../images/dashi-graphics_build-failed.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.semaphore-panel__project-name {

}

.semaphore-panel__build-details {
  
}