/* ==============================================================
   Semaphore Panel
   ============================================================== */

@import "nib";

//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


.semaphore-panel {
  background-color: #78dede;
  color: #fff;
}

//
// Sub-Modules
//

.semaphore-panel__build-status {
  padding-top: 70px;
  width: 160px;
  background-color: rgba(#000, 0.5);
  color: #78dede;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.semaphore-panel__project-name {

}

.semaphore-panel__build-details {
  
}