/* ==============================================================
   Semaphore Panel
   ============================================================== */

@import "nib";

//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


.semaphore-panel {
  background-color: #78dede;
  color: #fff;
}

//
// Sub-Modules
//

.semaphore-panel__build-status {
  margin: 0 auto;
  margin-bottom: 2em;
  padding-top: 3.5em;
  height: 8.2em;
  width: 8.2em;
  background-color: rgba(#000, 0.5);
  color: #78dede;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.semaphore-panel__project-name {
  font-size: 2.4rem;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 0 1px 2px rgba(#000, 0.1);
}

.semaphore-panel__build-details {
  font-size: 1.8rem;
  text-shadow: 0 1px 2px rgba(#000, 0.1);
}