/* ==============================================================
   Button Square
   ============================================================== */


//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


// ## Button Square `.button-square`
// A pretty generic button, if you ask me.

.button-square {
  padding: 0 1em;
  border: none;
  border-radius: 4px;
  background-color: #aaa;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.2rem;
  line-height: 2.7em;
  cursor: pointer;
}


//---------------------------------------------------------------
// Modifiers
//---------------------------------------------------------------


.button-square--save {
  background-color: #2BDA8E;
}


.button-square--cancel {
  background-color: #fc555b;
}
