/* ==============================================================
   Create Account Message
   ============================================================== */


//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


// ## Create Account Message `.create-account-message`
// Message encouraging you to create an account.

.create-account-message {
  
  p {
    color: #fff;
  }
}