/* ==============================================================
   Dashboard Preview
   ============================================================== */

@import "nib";

//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


// ## Dashboard Thumb `.dashboard-thumb`
// Represents the dashboard on the main screen

.dashboard-thumb {
  width: 12em;
  height: 8em;
  display: inline-block;
  vertical-align: top;
  padding: 1em;
  border: 1px solid rgba(#fff, 0.2);
  margin: 2em;
  overflow: hidden;
}

.dashboard-thumb:hover {
  border-color: #fff;
}

.dashboard-thumb__panel {
  background-color: transparent !important;
  width: 24%;
  margin: 2%;
  float: left;
  border-width: 1px;
  border-style: solid;
}