/* ==============================================================
   Dashboard Thumbs
   ============================================================== */

@import "nib";

//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


// ## Dashboard Thumbs `.dashboard-thumbs`
// List of all dashboards on the main screen

.dashboard-thumbs {
  padding: 4.3em;
}