/* ==============================================================
   Dashboard Preview
   ============================================================== */

@import "nib";

//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


// ## Dashboard Preveiw `.dashboard-preview`
// Represents the dashboard on the main screen

.dashboard-preview {
  background-color: #fff;
  color: #333;
  padding: 4em;
  display: inline-block;
}