/* ==============================================================
   Dashboard Preview
   ============================================================== */

@import "nib";

//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


// ## Dashboard Thumb `.dashboard-thumb`
// Represents the dashboard on the main screen

.dashboard-thumb {
  display: inline-block;
  overflow: hidden;
  margin-right: 2em;
  margin-bottom: 2em;
  padding: 1em;
  width: 12em;
  height: 8em;
  border: 1px solid rgba(#fff, 0.2);
  color: #fff;
  vertical-align: top;
  text-decoration: none;

  p {
    text-align: center;
    line-height: 5.5em;
  }
}

.dashboard-thumb:hover {
  border-color: #fff;
  text-decoration: underline;
}

.dashboard-thumb__panel {
  background-color: transparent !important;
  width: 24%;
  margin: 2%;
  float: left;
  border-width: 1px;
  border-style: solid;
}