/* ==============================================================
   Edit Panel
   ============================================================== */


//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


// ## Edit Panel `.edit-panel`
// For editing the data & settings of a panel

.edit-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  display: block;
  overflow-y: auto;
  margin: 0 auto;
  width: 24em;
  background-color: #333;
  box-shadow: 0 2px 15px rgba(#000, 0.2);
  transition: 0.5s;
  transform: translateX(-24em);
  backface-visibility: hidden;
}

.edit-panel h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 2em;
  color: #fff;
}

.edit-panel.is-panel-being-edited {
  transform: translateX(0);
  opacity: 1;
}

.edit-panel:before {
  display: inline-block;
  margin-right: -0.25em; /* Adjusts for spacing */
  width: 0.01%;
  height: 100%;
  content:'';
  vertical-align: middle;
}

.edit-panel__content {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
  width: 99.5%;
  padding: 2em;
}

//
// Included Modules
//

.edit-panel .button-square {
  width: 48.5%;
  margin-top: 2em;
}

.edit-panel .button-square + .button-square {
  margin-left: 1%;
}