/* ==============================================================
   Form
   ============================================================== */


//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


// ## Form `.form`
// It's a form. You know what to do with it.

.form {
  
  label {
    font-size: 1.6rem;
    display: inline-block;
    margin-bottom: 0.4em;
  }

  input[type=text] {
    line-height: 2em;
    border: none;
    display: block;
    width: 97%;
    margin-bottom: 1em;
    padding: 0 0.5em;
  }
}

//
// Sub-Modules
//

