/* ==============================================================
   Form
   ============================================================== */


//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


// ## Form `.form`
// It's a form. You know what to do with it.

.form {
  
  label {
    font-size: 1.6rem;
    display: inline-block;
    margin-bottom: 0.4em;
  }

  input[type=text] {
    display: block;
    margin-bottom: 1em;
    padding: 0.5em 0.5em;
    width: 97%;
    border: none;
    border-color: 1px solid #000;
    font-size: 1.3rem;
    line-height: 1;
    font-family: "Helvetica Neue", Helvetica, Arial;

    &:focus {
      outline: none;
      box-shadow: 0 0 4px rgba(#6bffba, 0.2);
      background-color: #e0fdfd;
    }
  }
}

//
// Sub-Modules
//

