/* ==============================================================
   Login Buttons
   ============================================================== */


//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


// ## Login Buttons `.login-buttons`
// Contains the Meteor account login buttons

.login-buttons {
  position: fixed;
}