/* ==============================================================
   New Panel Dropdown
   ============================================================== */


//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


// ## New Panel Dropdown `.new-panel-dropdown`
// Dropdown form when creating a new panel

.new-panel-dropdown {
  overflow: hidden;
  margin: 0;
  padding: 0 2em;
  max-height: 0;
  background-color: #81f1d3;
  border-radius: 4px;
}

.new-panel-dropdown.is-expanded {
  max-height: 1000em;
  margin: 0.6em 0;
}

//
// Included Modules
//

.new-panel-dropdown .form {
  margin-top: 1.4em;
}

.new-panel-dropdown .button-square {
  margin: 1.2em 0 2.3em;
}
