/* ==============================================================
   Panel
   ============================================================== */


//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


// ## Panel `.panel`
// A panel is a single unit of a dashboard containing self-contained data

.panel {
  padding: 1em;
  text-align: center;
  width: 33.3%; // This is default only, will probably be overridden by individual panel
  position: absolute;
  overflow: hidden;
  cursor: move;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  perspective: 800px;
}

.panel:before {
  display: inline-block;
  margin-right: -0.25em; /* Adjusts for spacing */
  width: 0.01%;
  height: 100%;
  content:'';
  vertical-align: middle;
}

.panel:hover {
  box-shadow: 0 1px 20px rgba(#000, 0.3);
  z-index: 9999;
}

//
// Sub-Modules
//

.panel__content-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 99.5%;
}

.panel__label {
  color: #fff;
}


/* Remove Button
   ============================================================== */

.panel__remove-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 3em;
  height: 3em;
  background: rgba(#000, 0.7) url(../../images/all_remove-x.svg) no-repeat center center;
  cursor: pointer;
  transition: 0.2s;
  transform: translate3d(3.2em, -3.2em, 0);
  z-index: 9999;
  opacity: 0;
}

.panel__remove-button:hover {
  background-color: #000;
}


.panel:hover .panel__remove-button {
  transform: translate3d(0, 0, 0);
}

.is-mouse-moving .panel:hover .panel__remove-button {
  opacity: 1;
}

.panel__remove-button__confirm {
  position: absolute;
  top: 0;
  right: 0;
  width: 15em;
  background-color: #f3332b;
  line-height: 3em;
  cursor: pointer;
  display: none;
}

.panel__remove-button__confirm.is-visible {
  transform: translate3d(0, 0, 0);
  display: block;
}


/* Edit Button
   ============================================================== */

.panel__edit-button {
  position: absolute;
  top: 0.5em;
  right: 4em;
  width: 2.4em;
  height: 2.4em;
  border-radius: 10em;
  background: rgba(#000, 0.7) url(../../images/all_edit-panel.svg) no-repeat center center;
  text-indent: -9999em;
  cursor: pointer;
  transition: 0.2s;
  transform: scale3d(0, 0, 0);
  opacity: 0;
}

.panel__edit-button:hover {
  background-color: #000;
}

.panel:hover .panel__edit-button {
  transform: scale3d(1, 1, 1);
}

.is-mouse-moving .panel:hover .panel__edit-button {
  opacity: 1;
}

.is-being-edited .panel__edit-button {
  transform: scale3d(1, 1, 1);
  opacity: 1;
  background-color: #000;
  box-shadow: 0 0 0 4px rgba(#fff, 0.6);
}