/* ==============================================================
   Panels
   ============================================================== */


//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


// ## Panels `.panels`
// Holds all every .panel

.panels {
  height: 100%;
}