/* ==============================================================
   Panels
   ============================================================== */

@import "nib";

//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


// ## Panels `.panels`
// Holds all every .panel

.panels {
  transition: 0.5s;
}


/* Panel is being edited
   ============================================================== */

.is-panel-being-edited .panels {
  transform: scale3d(0.8, 0.8, 0.8) translateX(15em);
}