/* ==============================================================
   Panels
   ============================================================== */

@import "nib";

//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


// ## Panels `.panels`
// Holds all every .panel

.panels {
  transform-origin: 0;
  transition: 0.5s;
}


/* Panel is being edited
   ============================================================== */

.is-panel-being-edited .panels {
  transform: rotateY(20deg) translateX(24em);
}