/* ==============================================================
   Toolbar
   ============================================================== */


//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


// ## Toolbar `.toolbar`
// Contains dashboard-wide controls

.toolbar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999999999;
  padding: 1em 2em;
  width: 24em;
  background-color: #333;
  color: #fff;
  transition: 0.3s;
  transform: translate3d(24em, 0, 0);
}

.toolbar:hover {
  transform: translate3d(0, 0, 0);
}

//
// Sub-Modules
//

.toolbar__expand-heading {
  position: absolute;
  top: 50%;
  left: -9em;
  padding: 1em;
  height: 3.2em;
  background-color: #333;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.9rem;
  opacity: 0;
  cursor: pointer;
  transition: 0.3s;
  transform: rotateZ(-90deg);
}

.is-mouse-moving .toolbar__expand-heading,
.toolbar:hover .toolbar__expand-heading {
  opacity: 1;
}

.toolbar__subhead {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  margin-bottom: 2em;
}

.toolbar__panel-options {

}

.toolbar__panel-options__link {
  color: #fff;
  text-decoration: none;
  font-size: 2.4rem;
}

//
// Included Modules
// 

// The Meteor Accounts UI login

#login-buttons {
  position: absolute;
  bottom: 1.5em;
  left: 1.4em;
  font-size: 1.7rem;
}