<template name="panel">
  <li id="{{panel_id}}" class="panel {{css_class}}-panel {{is_being_edited_class}}" style="{{width_css}} {{height_css}} {{pos_x_css}} {{pos_y_css}}" data-panel-id="{{_id}}">
    <div class="panel__content-wrapper">
      {{> dynamicTemplate}}
    </div>
    {{> remove_panel_button}}
    {{> edit_panel_button}}
    
    <div class="ui-resizable-handle ui-resizable-nw" id="nwgrip"></div> 
    <div class="ui-resizable-handle ui-resizable-ne" id="negrip"></div> 
    <div class="ui-resizable-handle ui-resizable-sw" id="swgrip"></div> 
    <div class="ui-resizable-handle ui-resizable-se" id="segrip"></div> 
    <div class="ui-resizable-handle ui-resizable-n" id="ngrip"></div> 
    <div class="ui-resizable-handle ui-resizable-s" id="sgrip"></div> 
    <div class="ui-resizable-handle ui-resizable-e" id="egrip"></div> 
    <div class="ui-resizable-handle ui-resizable-w" id="wgrip"></div> 
  </li>
</template>