/* ==============================================================
   Message Panel
   ============================================================== */

@import "nib";


//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


.message-panel {
  background-color: #FFE375;
  color: #fff;
}

//
// Sub-Modules
//

.message-panel__time-ago {
  font-size: 1.8rem;
  text-shadow: 0 1px 2px rgba(#000, 0.1);
}

.message-panel__latest-message {
  position: relative;
  margin: 2em 20%;
  width: 60%;
  margin-bottom: 4em;
  padding: 2.4em 2em;
  border-radius: 8px;
  background-color: #fff;
  color: #BAA4DF;
  
  p {
    font-size: 2.4rem;
    line-height: 1.4;
    margin-bottom: 0.5em;
  }

  span {
    font-size: 1.5rem;
  }

  &:before {
    position: absolute;
    bottom: -30px;
    left: 2em;
    display: block;
    width: 35px;
    height: 35px;
    background: url(../../../images/all_speech-bubble-tail.svg) no-repeat center center;
    content: "";
  }
}

.message-panel__form {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.3em 1em;
  background-color: rgba(#000, 0.1);
  transition: 0.3s;
  transform: translate3d(0, 5.5em, 0);

  input {
    padding: 0.5em 1em;
    width: 67%;
    border: none;
    border-radius: 10em;
    background-color: rgba(#fff, 0.6);
    font-size: 1.6rem;
  }

  ::-webkit-input-placeholder { /* WebKit browsers */
    color: rgba(#000, 0.2);
  }

  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(#000, 0.2);
  }

  input:focus {
    outline: none;
  }
}

.message-panel:hover .message-panel__form {
  transform: translate3d(0, 0, 0);
}

.message-panel__form__send {
  width: 2.6em;
  height: 2.6em;
  border: none;
  border-radius: 10em;
  text-indent: -9999em;
  line-height: 2.6em;
  margin-left: 0.5em;
  cursor: pointer;
  background: rgba(#000, 0.5) url(../../../images/all_message-submit.svg) no-repeat center 56%;

  &:hover {
    background-color: rgba(#000, 0.7);
  }
}
